
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {% block head %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            {% block styles %}
                <!-- Bootstrap CSS -->
                {{ bootstrap.load_css() }}
            {% endblock %}

            <title>
                
                {%block title%}
                    IngEd | {{context}}
                {%endblock%}

            </title>
        {% endblock %}
    </head>
    <body>
        
        {% block navbar %}   
        {% endblock %}
            
        {% block content %}
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    
    </body>
</html>